body {
  
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-size: 50pt;
  font-weight: normal;
  background: #cc0000; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(
    -90deg,
    #cc0000,
    black
  ); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(
    -90deg,
    #cc0000,
    black
  ); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(
    -90deg,
    #cc0000,
    black
  ); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-90deg, #cc0000, black); /* Standard syntax */
}

.main {
  margin: 100px auto;
  text-align: center;
}

button {
  padding: 100px;
  background: transparent;
  text-shadow: 1px 1px 1px #202020;
  font-family: "Lato", sans-serif;
  font-size: 300pt;
  border: 1px solid #cc0000;
  color: #cc0000;
}
